.footer {
  box-sizing: border-box;
  width: 1440px;
  height: 608px;
  padding: 100px 136px;
  background: #52503b;
}

.contentBlock {
  display: flex;
  margin-bottom: 48px;
}

.info {
  flex-direction: column;
}

.linkList {
  font-family: "Montserrat";
  width: 280px;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  margin: 0px 16px 0px 0px;
}

.list {
  width: 110px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 11px;
  color: #ffffff;
}

.list:first-child {
  text-transform: uppercase;
}

.list:last-child {
  margin-bottom: 0;
}

.mediaBlock {
  width: 280px;
  margin-right: 16px;
}

.mediaTitle {
  font-family: "Montserrat";
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;
}

.mediaMessage {
  text-align: left;
}

.mediaLogo {
  cursor: pointer;
  margin-right: 20px;
}

.mediaLogo:last-child {
  margin-right: 0px;
}

.newsletterBlock {
  font-family: "Montserrat";
  text-align: left;
  width: 576px;
  color: #ffffff;
}

.newsletterTitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.newsletterText {
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.newsletterInt {
  box-sizing: border-box;
  width: 576px;
  padding: 16px 0px 16px 30px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.newsletterInt::placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  color: #52503b;
}

.intBtn {
  position: relative;
  display: flex;
}

.newsletterBtn {
  position: absolute;
  top: 25%;
  right: 1%;
  font-family: "Montserrat";
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  color: #ffffff;
  background: #52503b;
}

.footerInfo {
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  width: 1168px;
  height: 100px;
}

.footerLogo {
  width: 200px;
  margin-bottom: 20px;
}

.footerAddress {
  font-style: normal;
  margin-bottom: 20px;
}

.footerTel {
  margin: 0;
}
